@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Sriracha');

body{
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.container{
    max-width:800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3)
}

header{
    background-color: #844;
    padding: 10px;
    color: #fff;
}

header h1{
    margin:0;
    font-size:24px;
    font-weight: normal;
    text-align: center;
    font-family: 'Sriracha', cursive;
}

.description img{
    float: left;
    margin: 0 10px 10px 0;
    transition: opacity 1s ease 0s;
}

.information h1{
    font-size: 18px;
    margin: 0 10px 10px 0;
    float: left;
}

.information .type{
    display: inline;
    background-color: #e35a4d;
    font-size: .8em;
    padding: 3px 5px;
    color: #fff;
}

.description{
    clear: left;
}

.content{
    background-color: #fff;
    padding: 20px;
}

.songs{
    margin: 0 0 20px;
}

.songs h2{
    clear: left;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    background-color: #e6e4dd;
    padding:5px 10px;
}

.songs ol{
    padding: 0px;
    margin: 0px;
    list-style: decimal inside;
}

.songs li{
    border-bottom: 1px solid #ccc;
    width:50%;
    float: left;
    padding: 5px 10px;
}

.clearfix:after{
    content:" ";
    display: table;
    clear:both;
}

a{
    color: #666;
}

footer{
    text-align: center;
    font-size: 80%;
}

@media only screen and (max-width:600px){
    .description img{
        float: none;
        margin: 0 auto;
        display: block;
    }

    header{
        padding: 5px;
    }

    header h1{
        font-size: 12px;
    }

    .songs li{
        float:none;
        width: inherit;
    }
}

.description img:hover{
    opacity: .5;
}